body{
  width: 100%;
  margin: 0%;
  font-family: "Roboto"
}


header, ul{
    background-color: #1f2937 ;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
}
   

.logo{
    display: flex;
    font-size: 24px;
    color: #F9FaF8;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    
}


#links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
      
}
li{
    list-style: none;
    font-size: 18px;
}

a{
    color: #E5E7Eb;
}

section{
    padding: 40px;
    background-color: #1f2937;
    height: 300px;
    
}
h1{
    
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
    margin-right: 1300px;

}
.pone {
    
    font-size: 36px;
    color: #E5E7Eb;
    margin-right: 950px;

}

.botaozinho{
    background-color: #3882f6;
    border-radius: 3px;
}

#horas{
    display: flex   ;
    background-color: grey;
    justify-content: flex-end;
    height: 300px;
    width: 600px;
    margin-left: 1200px;
    margin-top: -350px;
}

.ptwo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:150px;
}

.texttwo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.boxone{
display: flex;
   border: blue solid 3px;
   height: 120px;
   width: 120px;
   justify-content: center;
   margin: 500px;
   margin-top: -10px;
   gap: 20px;
   
}

.boxtwo{
display: flex;
   border: blue solid 3px;
   height: 120px;
   width: 120px;
   justify-content: center;
   margin: 700px;
   margin-top: -667px;
   gap: 20px;
   
}

.boxthree{
display: flex;
   border: blue solid 3px;
   height: 120px;
   width: 120px;
   justify-content: center;
   margin: 900px;
   margin-top: -860px;
   gap: 20px;
   
}

.boxfour{
display: flex;
   border: blue solid 3px;
   height: 120px;
   width: 120px;
   justify-content: center;
   margin: 1100px;
   margin-top: -1065px;
   gap: 20px;
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    border: blue solid 3px;
    height: 120px;
    width: 120px;
    margin: 20px;
}

.paragone {
    margin-top: 130px;
}
.paragtwo {
    margin-top: 130px;
}

.paragthree {
    margin-top: 130px;
}

.paragfour {
    margin-top: 130px;
}

.textosec{
    display: flex;
    justify-content: end;
    align-items: center;
}
.aga2{
   color: oklch(37.1% 0 0);
   padding: 250px;
   margin-left: 350px;
   margin-right: 250px;

}

.anya{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
    margin-left: 600px;
    font-size: 18px;
}

.seccao{
    display: block;
    justify-content: center;
    align-items: flex-end;
    background-color: oklch(68.5% 0.169 237.323);
    margin: 50px;
    margin-left: 450px;
    height: 100px;
    width: 1000px;
    gap: 20px;
}



.par{
    padding:40px;
    margin-left: 40px;
    font-size: 18px;
}

.agart{
    padding:40px;
    margin-left: 40px;
    font-size: 38px;
}

.botaofe{
    margin-left: 850px;
    height: 50px;
    width: 150px;
   margin-top:-100px;
   
}

.pe{
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    

}

.peseg{
    color: white;
}